# Configuración local de la BD para el Sistema, si tienen otro user cambiarlo
DB_HOST=localhost
DB_USER=root

#cambiar esto por su propia contraseña local
DB_PASSWORD=poner_contraseña

#nombre exacto de la BD MySQL
DB_NAME=epf_sistema_escolar
#Luego de cambiar todo, cambiar el nombre del archivo a (.env)
